<div class="container-fluid">
  <!-- Breadcrumbs-->
  <ol class="breadcrumb">


    <%= link_to new_admin_page_path, :class => "btn btn-primary btn-small", :style => "position: absolute; right: 2%; font-size: 12px" do %>
      <i class="fa fa-plus"></i>
      Yeni Sayfa Ekle
    <% end %>

    <li class="breadcrumb-item active">
      Sayfalar
    </li>
  </ol>
  <div class="row">
    <div class="col-12">

      <div class="mb-3">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
            <tr>
              <th>Başlık</th>
              <th>Kategori</th>
              <th>Oluşturulma tarihi</th>
              <th>Seçenekler</th>
            </tr>
            </thead>
            <tbody>
            <% @pages.each do |page| %>
              <tr>
                <td><%= page.title %></td>
                <td><%= page.category[:title] %></td>
                <td><%= page.created_at %></td>
                <td>
                  <%= link_to edit_admin_page_path(page) do %>
                    <i class="fa fa-edit"></i>
                  <% end %>
                  <%= link_to admin_page_path(page), method: :delete, data: {confirm: 'Are you sure?'} do %>
                    <i class="fa fa-trash"></i>
                  <% end %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>