<div class="container-fluid">
  <!-- Breadcrumbs-->
  <ol class="breadcrumb">



    <li class="breadcrumb-item">
      <%= link_to "Geri", admin_page_index_path %>
    </li>
    <li class="breadcrumb-item active">Sayfa Ekle</li>
  </ol>
  <div class="row">
    <div class="col-12">

      <%= form_for :post, url:admin_page_index_path do |f| %>
      <div class="form-group">
        <%= f.label :title, "Başlık",:class =>"from-group"%><br>
        <%= f.text_field :title, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :content, "Açıklama", :class =>"from-group"%><br>
        <%= f.text_field :content, class: "form-control" %>
      </div>

      <div class="form-group">
          <%= f.label :category_id, "Kategori", :class => "form-group" %><br>
          <%= f.select :category_id, @categories.all.collect {|p| [p.title, p.id] },:class => "form-control", id: :category_id %>
      </div>

      <div class="form-group">
        <%= f.submit "Kaydet", :class => "btn btn-primary"%>
      </div>

    <% end %>
    </div>
  </div>
</div>