<%= form_with(model: admin_news, local: true) do |form| %>
  <% if admin_news.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admin_news.errors.count, "error") %> prohibited this admin_news from being saved:</h2>

      <ul>
      <% admin_news.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :admin_news_title %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, id: :admin_news_content %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
