<div class="container-fluid">
  <!-- Breadcrumbs-->
  <ol class="breadcrumb">


    <%= link_to new_admin_news_path, :class => "btn btn-primary btn-small", :style => "position: absolute; right: 2%; font-size: 12px" do %>
      <i class="fa fa-plus"></i>
      Yeni Haber Ekle
    <% end %>

    <li class="breadcrumb-item active">
      Haberler
    </li>
  </ol>
  <div class="row">
    <div class="col-12">

      <div class="mb-3">
        <div class="table-responsive">
            <p id="notice"><%= notice %></p>
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Title</th>
                  <th>Content</th>
                  <th colspan="3"></th>
                </tr>
              </thead>

              <tbody>
                <% @admin_news.each do |admin_news| %>
                  <tr>
                    <td><%= admin_news.title %></td>
                    <td><%= admin_news.content[1..25] %></td>
                    <td>
                      <%= link_to edit_admin_news_path(admin_news) do%>
                          <i class="fa fa-edit"></i>
                      <% end %>
                      <%= link_to admin_news_path(admin_news) , method: :delete, data: {confirm: 'Are you sure?'} do%>
                        <i class="fa fa-trash-o"></i>
                      <% end %>
                      <%= link_to admin_news do %>
                        <i class="fa fa-search"></i>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>

            <br>


        </div>
      </div>
    </div>
  </div>
</div>