<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
  <a class="navbar-brand" href="index.html">Kazancılar Hayvancılık</a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">



      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Kategoriler">
        <%= link_to admin_category_index_path, :class => "nav-link" do %>
          <i class="fa fa-fw fa-table" aria-hidden="true"></i>
          <span class="nav-link-text">Kategoriler</span>
        <% end %>
      </li>

      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Mesajlar">
        <%= link_to admin_message_index_path, :class => "nav-link" do %>
          <i class="fa fa-envelope-square" aria-hidden="true"></i>
          <span class="nav-link-text">Mesajlar</span>
        <% end %>
      </li>

      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Sayfalar">
        <%= link_to admin_page_index_path, :class => "nav-link" do %>
          <i class="fa fa-fw fa-file" aria-hidden="true"></i>
          <span class="nav-link-text">Sayfalar</span>
        <% end %>
      </li>
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
        <a class="nav-link" href="tables.html">
          <i class="fa fa-newspaper-o"></i>
          <span class="nav-link-text">Haberler</span>
        </a>
      </li>
      
    </ul>
    <ul class="navbar-nav sidenav-toggler">
      <li class="nav-item">
        <a class="nav-link text-center" id="sidenavToggler">
          <i class="fa fa-fw fa-angle-left"></i>
        </a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">


      <li class="nav-item">
        <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
          <i class="fa fa-fw fa-sign-out"></i>Logout</a>
      </li>
    </ul>
  </div>
</nav>
