<!DOCTYPE html>
<html>
  <head>
    <title>KazancilarhayvancilikCom</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'admin', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <%= render 'layouts/admin/top' %>
  <div class="content-wrapper">
    <%= yield %>
    <%= render 'layouts/admin/bottom' %>
  </div>
  </body>
</html>
