<!DOCTYPE html>
<html>
<head>
  <title>Kazancilarhayvancilik.com</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'admin', 'data-turbolinks-track': 'reload' %>
</head>

<body class="bg-dark" >

<div class="container">
  <div class="card card-login mx-auto mt-5">
    <div class="card-header">Login</div>
    <div class="card-body">




      <%= yield %>




    </div>
  </div>
</div>

</body>
</html>