<div id="detailContainer">
  <div id="detailLeft">
    <div class="detailTitle cozumler">
      <h1>Boş sayfa</h1>
      <div class="saver hiddenText">&nbsp;</div>
    </div>
    <div class="detailHTML">
      <h2>Başlık</h2>
      <p>İçerik</p><br />
      <h1>Homes#index</h1>
      <p>Find me in app/views/homes/index.html.erb</p>
    </div>
  </div>
  <div id="detailRight">
    <div class="rightMenuBG">&nbsp;</div>
    <div class="rightMenu">
    </div>
    <div class="rightBulten"> <a href="ebulten.html">
      <h2>E-Bülten'e<br />
        Abone Olun!</h2>
    </a>
    </div>
  </div>
  <div class="saver hiddenText">&nbsp;</div>
</div>
<div class="saver hiddenText">&nbsp;</div>
</div>