<div id="homeSliderContainer">
  <div id="homeSlider">
    <div class="item">
      <%= image_tag("temp/slide_1.jpg") %>
    </div>
    <div class="item">
      <%= image_tag("temp/slide_2.jpg") %>
    </div>
    <div class="item">
      <%= image_tag("temp/slide3.jpg") %>
    </div>
    <div class="item">
      <%= image_tag("temp/slide_4.jpg") %>
    </div>
  </div>
  <div class="saver hiddenText">&nbsp;</div>
</div>
<div id="homeContentContainer">
  <div id="homeContent">
    <div id="homeBottomContent">
      <div id="homeBottomVideo" class="item">
        <h2>KAZANCILAR<b>TANITIM VİDEOSU</b></h2>
        <a href="https://www.youtube.com/watch?v=q1jOyjjPWIk" rel="prettyPhoto[]" style="background: transparent no-repeat scroll center top">
          &nbsp; </a>
      </div>
      <div id="homeBottomHaber" class="item">

        <h2>KAZANCILAR<b><a href="#">HABERLER & DUYURULAR</a></b></h2>
        <div class="haberContent">

          <?php foreach($news as $item) { ?>
          <span class="itemHaber">
              <span class="date"></span>
              <a href="#">
                <span class="haberText"><p></p></span>
              </a>
            </span>
          <?php } ?>

        </div>
      </div>
      <div class="saver hiddenText">&nbsp;</div>
    </div>
  </div>
  <div class="saver hiddenText">&nbsp;</div>
</div>
<div class="saver hiddenText">&nbsp;</div>