<div class="container-fluid">
  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <%= link_to "Geri", admin_category_index_path %>
    </li>
    <li class="breadcrumb-item active">Kategori Ekle</li>
  </ol>
  <div class="row">
    <div class="col-12">
      <%= @category.inspect   %>
      <%= form_for :post, url:admin_category_path, method: :patch do |f| %>
        <div class="form-group">
          <%= f.label :title, "Başlık",:class =>"from-group"%><br>
          <%= f.text_field :title, class: "form-control", :value =>@category[:title]%>
        </div>
        <div class="form-group">
          <%= f.label :description, "Açıklama", :class =>"from-group"%><br>
          <%= f.text_field :description, class: "form-control", :value =>@category[:description] %>
        </div>

        <div class="form-group">
          <%= f.label :isVisible, "Üst menü görünürlüğü", :class => "from-control" %><br>
          <%= f.check_box :isVisible, {checked: @category[:isVisible] }, "true", "false" %>
        </div>

        <div class="form-group">
          <%= f.submit "Güncelle", :class => "btn btn-primary"%>
        </div>
      <% end %>
    </div>
  </div>
</div>