
<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">


      <%= link_to new_admin_category_path, :class => "btn btn-primary btn-small", :style => "position: absolute; right: 2%; font-size: 12px" do %>
        <i class="fa fa-plus"></i>
        Yeni Kategori Ekle
      <% end %>

      <li class="breadcrumb-item active">
        Kategoriler
      </li>
    </ol>
    <div class="row">
      <div class="col-12">

        <div class="mb-3">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
              <tr>
                <th>Menu</th>
                <th>Başlık</th>
                <th>Açıklama</th>
                <th>Kategori</th>
                <th>Oluşturulma tarihi</th>
                <th>Seçenekler</th>
              </tr>
              </thead>
              <tbody>
              <% @categories.each do |category| %>
                <tr>
                  <td><%= category.isVisible%></td>
                  <td><%= category.title %></td>
                  <td><%= category.description[0,25] %></td>
                  <td></td>
                  <td><%= category.created_at %></td>
                  <td>
                    <%= link_to edit_admin_category_path(category) do%>
                      <i class="fa fa-edit"></i>
                    <% end %>

                    <%= link_to admin_category_path(category), method: :delete, data: { confirm: 'Are you sure?' } do%>
                      <i class="fa fa-trash"></i>
                    <% end %>
                  </td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
  </div>
</div>

