

<div class="container-fluid">
  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <a href="#" class="btn btn-primary btn-small" style="position: absolute; right: 2%; font-size: 12px">
      <i class="fa fa-plus"></i>
      Yeni Kategori Ekle
    </a>
    <li class="breadcrumb-item">
      <a href="index.html">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">Blank Page</li>
  </ol>
  <div class="row">
    <div class="col-12">

      <div class="mb-3">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
            <tr>
              <th>Kimden</th>
              <th>Konu</th>
              <th>Email</th>
              <th>Oluşturulma tarihi</th>
              <th>Seçenekler</th>
            </tr>
            </thead>
            <tbody>
            <%= @messages.each do |message| %>
              <tr>

                <td>
                  <% message.name %></td>
                <td>
                  <% message.title %></td>
                <td>
                  <% message.email %></td>
                <td>
                  <% message.created_at %></td>
                <td>
                  <i class="fa fa-edit"></i>
                  <i class="fa fa-delete"></i>
                  <i class="fa fa-search"></i>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>