

<div id="footerContainer">
  <div id="footerContent">
    <div class="footerMenu">
      <a href="<?=base_url()?>" >Anasayfa <span>&nbsp; / &nbsp;</span></a>
      <a href="<?=base_url()?>haberler" >Haberler <span>&nbsp; / &nbsp;</span></a>
      <a href="<?=base_url()?>iletisim" >Bize Ulaşın <span>&nbsp; / &nbsp;</span></a>
      <span class="footerSocial">
          <a href="#" target="_blank">
            <img src="<?= base_url() ?>assets/images/icon/face.png" alt="" title="" />
            <%= image_tag("icon/face.png", :alt=>"") %>
            <span>&nbsp; / &nbsp;</span>
          </a>
          <a href="#" target="_blank">
            <img src="<?= base_url() ?>assets/images/icon/linkedin.png" alt="" title="" />
            <%= image_tag("icon/linkedin.png", :alt=>"") %>
            <span>&nbsp; / &nbsp;</span>
          </a>
          <a href="#"  target="_blank">
            <img src="<?= base_url() ?>assets/images/icon/youtube.png" alt="" title="" />
          </a>
        </span>
      <span class="saver hiddenText">&nbsp;</span>
    </div>
    <div class="footerBottom">
      <p><b>KAZANCILAR HAYVANCILIK</b>  .. .. .. Ticaret A.Ş. Atatürk Cad. Atatürk İş Merkezi No:81 Kat:7 Merkez 11881 ANKARA </p>
      <p>KAZANCILAR &copy; 2016  Tüm hakları saklıdır.</p>
      <p style="color:#df7b8e; font-size:14px; font-weight:bold;">ÇAĞRI MERKEZİ  : 0850 000 00 00</p>
    </div>
  </div>
  <div class="saver hiddenText">&nbsp;</div>
</div>
</body>
</html>