
  <div class="tool-box">
    <a href="<?= base_url() ?>iletisim">Bize Ulaşın</a>
    <input type="submit" value="EN" class="langLink">
    <span class="search" id="my-button"><a href="#"></a></span>
    <span class="span">
      <input type="text" id="my-input" class="searchTxt" data-search-path="<?= base_url('search') ?>" placeholder="Arama...">
    </span>
  </div>
  <div id="headerContainer">
    <div class="logo">
        <%= image_tag("logo/logo2.png", :alt=>"", :class=>"logoImg") %>
        <%= image_tag("logo/mobilemenu-logo2.png", :alt=>"", :class=>"mobileLogoImg") %>
    </div>
    <a href="javascript:;" class="mobileMenuOpen">
      <span class="mobileMenuTitle">MENÜ</span>
      <%= image_tag("button/mobileMenu.png", :alt=>"" ) %>
      <span class="saver hiddenText">&nbsp;</span>
    </a>
    <div class="headerRight">
      <div class="headerSubMenuContent">
        <div class="subMenu">
          <ul>
            <li class="level0 menu1">
              <%= link_to "Anasayfa", root_path %>
            </li>
            <% menu.each do |item| %>
            <li class="level0 menu1">
              <%= link_to item.title %>
            </li>
              <% end %>
          </ul>
        </div>
        <div class="saver hiddenText">&nbsp;</div>
      </div>
      <div class="headerMenu">

      </div>
      <div class="saver hiddenText">&nbsp;</div>
    </div>
    <div class="saver hiddenText">&nbsp;</div>
  </div>