<!DOCTYPE html>
<html>
  <head>
    <title>KazancilarhayvancilikCom</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,400italic,600italic,700italic,700,800,300italic,300&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'http://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-88353267-1', 'auto');
        ga('send', 'pageview');
    </script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            $("#homeSlider").owlCarousel({
                navigation: false,
                //navigationText : ["&lt;","&gt;"],
                pagination: true,
                rewindSpeed: true,
                autoPlay: 8000,
                slideSpeed: 300,
                paginationSpeed: 400,
                singleItem: true,
                transitionStyle: "fade"
            });

            $("#homeBottomHizmet .slideContent").owlCarousel({
                navigation: false,
                //navigationText : ["&lt;","&gt;"],
                pagination: true,
                rewindSpeed: true,
                autoPlay: 8000,
                slideSpeed: 300,
                paginationSpeed: 400,
                singleItem: true,
                transitionStyle: "fade"
            });
        });
    </script>
  </head>

  <body>
  <div id="pageContainer">
    <%= render 'layouts/top' %>
    <%= yield %>
    <%= render 'layouts/bottom' %>
  </div>
  </body>
</html>
